doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    link(
      href="/style.css" 
      rel="stylesheet"
      )
    title Noble Studio Projects
  body
    header
      h2 Noble Studio Projects
      input(
        placeholder="Search" 
        type="text"
        )
      button logout
    main
      aside
      section
        ul#dirs.breadcrumb(style="list-style: none;")
          li
            a(href="/root/") root
        .table-wrapper#main-tbl
          table.file-table
            thead
              tr
                th Name
                th Uploaded
                th Modified
                th File Size
                th Owner
                th
          .tbody-wrapper
            table.file-table
              tbody#dir-content

      #context-menu.closed
        a#open(href="#") open
        a#download(href="#") download

      script.
          window.files = !{JSON.stringify(files)};
          window.pathExists = !{pathExists};
          window.isDir = !{isDir};
      script(src="/init.js") 
      script(src="/functions.js") 